<html>
	<head>
    	<title>My Website</title>
	</head>
	<body>
		Do you want to play Number guessing?<br>
		<button onclick="javascript:window.location.href='/Game.cshtml'">Yes!</button><br>
		<button onclick="javascript:window.location.href='/No.cshtml'">No!</button>
	</body>
</html>