<cs>Response.StatusCode = 404;</cs>
<html>
	<head>
		<title>404: Not Found</title>
	</head>
	<body style="max-width:50%">
   		<div style="padding: 10px; border: solid; border-width: 3px;">
			<h1 style="color:red;">Not Found</h1>
    		<p>The resource you are looking for does not exist on the server.</p>
		</div>   
	</body>
</html>