<cs>Response.StatusCode = 500;</cs>
<html>
	<head>
		<title>500: Internal Server Error</title>
	</head>
	<body style="max-width:50%">
   		<div style="padding: 10px; border: solid; border-width: 3px;">
			<h1 style="color:red;">Internal Server Error</h1>
    		<p>The Server encountered an internal Error.</p>
    		<p>Please contact the server administrator and inform them of the time the error occured, and anything you might have done before that may have caused the error.</p>
    		<p>&nbsp;</p>
    		<p>More information about this error may be available in the server's Core Log.</p>
		</div>   
	</body>
</html>